body {
  background-color: #eeee;
}

.banner {
  font-family: "Noto Serif", serif;
  color: #ff340a;
  display: flex;
  justify-content: center;
  margin: 150px !important;
  font-weight: 600;
  font-size: 230px;
  margin-top: -116px !important;
}

#banner-text {
  z-index: 1;
}
.email {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 35px;
  margin: 120px;
  color: #ff340a;
  margin-top: 32px !important;
  margin-left: -30px;
}

img {
  display: block;
  object-fit: cover;
  height: 700px;
  overflow: visible;
  /* margin-right: 126px; */
  margin-top: -353px;
  /* width: -50px !important; */
}

.Image-caption {
  color: #ff340a;
}

#Bold-caption {
  font-family: "Libre Franklin", sans-serif;
  font-size: 40px;
}
#cursive-caption {
  font-family: "Rouge Script", cursive;
  font-size: 40px;
}

.home-page-paragraph {
  color: #ff340a;
  font-family: "Libre Franklin", sans-serif;
  font-size: 26px;
  padding-right: 50px;
}

.About-me-text {
  margin-top: -110px;
  margin-left: 10px;
  padding-right: 30px;
}

#nav-color {
  background-color: #eeee;
}
