body {
  background-color: #eeee;
}

.banner {
  font-family: "Noto Serif", serif;
  color: #ff340a;
  display: flex;
  justify-content: center;
  margin: 150px !important;
  font-weight: 600;
  font-size: 230px;
  margin-top: -116px !important;
}

.email {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: 500;
  font-size: 25px;
  margin: 120px;
  color: #ff340a;
  margin-top: 32px !important;
  margin-left: -30px;
}

img {
  display: block;
  object-fit: cover;
  mix-blend-mode: normal;
  height: 700px;
  float: right;
  overflow: visible;
  margin-right: 126px;
  margin-top: -291px;
  width: -50px !important;
}

.text-under-image {
  color: #ff340a;
  display: flex;
  justify-content: end;
}
.home-page-paragraph {
  color: #ff340a;
  font-family: serif;
  width: 50%;
  display: flex;
  justify-content: start;
  font-size: 26px;
}

.About-me-text {
  margin-top: -110px;
  margin-left: 40px;
}

#nav-color {
  background-color: #eeee;
}
